{% extends 'base.html' %}

{% load static %}
{% load  custom_tags %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Clientes por vendedor {% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/vendedores.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{#% include 'contentBody/contentRow.html' %#}
{% endblock %}

{% block customSection %}

{% if  existe_vendedor %}
<div class="  mt-3 mb-3 ">
    <h3 class="">Vendedor: <strong>{{vendedor.usuario.first_name}} {{vendedor.usuario.last_name}}</strong></h3>

  </div>
<!-- <div class="text-center mt-5 mb-5">

</div> -->
{% if resultados %}
{% if  request.session.is_administrador or request.session.is_gerente_ventas %}
<div class="mb-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscador-clientes">Asignar
    clientes</button>
</div>
{% endif %}
<div class="row  " id="div-clientes-por-vendedor" >


    <div class="d-flex  flex-wrap   w-100 " >
      <!-- {{query}} -->
    {% for pub in clientes %}
   
        <div class=" col-lg-4 col-md-5 publicacion">
            <div class="d-flex flex-column">
                <figure class="figura">
                  <img src="https://public.pikit.mx/files/logo_empresas/{{pub.cliente.id}}.{{pub.cliente.filetype}}" alt="">
                </figure>
                <div class="w-100 short_info" style="display: flex;justify-content: center;align-items: center;">
                    <div class="col-md-9 col-sm-11 mx-auto flex-column" style="white-space: nowrap;  display: flex;justify-content: center;align-items: center;">
                      
                      <p class="w-90 text-center mt-2"><a href="{% url 'cliente' pub.cliente.id %}" class="">{{ pub.cliente.nombre|reparar_utf8 }}</a></p>
                      <p class="w-90 text-center">Cliente: <strong>{{pub.cliente.id}}</strong>&nbsp;&nbsp;
                      {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                        <i class="fas fa-trash-alt" style="cursor: pointer;color:red" onclick="delete_cliente_vendedor('{{pub.cliente.id}}','{{vendedor.usuario.first_name}} {{vendedor.usuario.last_name}}')"></i>
                      {% endif %}
                      </p>

                    </div>
                  <!-- </div> -->
                </div>
            </div>

     
        </div>
        <hr/>
  
    
    {% endfor %}
</div>

</div>
{% else %}
<div class="mt-5">
    <h5 class="text-center">{{message_resultados}}</h5>
{% if  request.session.is_administrador or request.session.is_gerente_ventas %}
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscador-clientes">Asignar
            clientes</button>
    </div>
    {% endif %}
</div>

{% endif %}
{% else %}
<div class=" " style="position: relative;">
    <div id="not_found" class="content-not-found centrado">
    </div>
</div>
<h4 class="text-center">{{message}}</h4>
{% endif %}





<!-- modal para asignacion de clientes -->
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="buscador-clientes" data-backdrop="static" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Asignación clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between mb-3">
                    <div class="row  col-lg-12">
                      <div class=" mt-3 m-2 form-group col-lg-5 col-md-12 col-sm-12" style="padding-right:0 !important; padding-left:0 !important;" >
                        <input type="text" class="form-control col-lg-12  col-md-12 col-sm-12"  id="btn-buscador-clientes-asignacion" placeholder="Ej: STARBUCKS MERIDA">
                      </div>
                      <select class="mt-3 m-2 custom-select col-lg-3 col-md-12 col-sm-12" id="id_estados" onchange="get_municipios('../../clientes/get-municipios')">
                        <option  selected value="SINESTADO">NA ESTADO</option>
                  
                        {% for estado in estados %}
                  
                        <option value={{estado.clave}}>{{estado.name|title}}</option>
                        {% endfor %}
                      </select>
                      <select class="mt-3 m-2 custom-select col-lg-3 col-md-12 col-sm-12" id="id_municipios">
                      </select>
                    </div>
                    
                    </div>
                  <table class="table table-hover" id="clientes-encontrados">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Numero cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Vendedor</th>
                 
                      </tr>
                    </thead>
                    <tbody>

                   </tbody>
                  </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-modal-cerrar" data-dismiss="modal" onclick="clear_table()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="get_table('{{vendedor.usuario.first_name}} {{vendedor.usuario.last_name}}','{{id_vendedor}}')">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/vendedores/vendedores.js' %}"></script>
<script src="{% static 'js/custom/clientes/clientes.js' %}"></script>
{% endblock %}