{% extends 'base.html' %}

{% load static %}
{% load  custom_tags %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Vendedores {% endblock %}

{% block css %}
<link href="{% static 'css/custom/vendedores.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{% include 'contentBody/contentRow.html' %}
{% endblock %}

{% block customSection %}
<div class="row  mb-3">
    <div class="  col-lg-12">
        <input type="text" class="form-control" id="btn_buscar_vendedores"
            placeholder="Buscar por usuario, nombre, correo, etc">
    </div>
    <!-- <input type="text" name="" id=""  > -->
</div>


<div class="table-responsive-md  table-responsive-sm">


    <table class="table table-sm mx-auto" id="tabla_vendedores">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Vend.</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estatus Ven.</th>
                <th scope="col">Opciones</th>
                

            </tr>
        </thead>
        <tbody>
            {% for ven in vendedores %}

            <tr>
                <th scope="row" >{{ven.id}}</th>
                <td>{{ven.usuario.username}}</td>
                <td>{{ven.usuario.first_name}} {{ven.usuario.last_name}}</td>
                <td>
                    {% if ven.is_gerente  ==  1 %}
                     Gerente
                     {% else %}
                     Vendedor
                     {% endif %}
                    <!-- {#% elif usu.is_supervisor == 1 %#} -->



                </td>

                <td>
                    {% if ven.is_activo  ==  1 %}
                    Activo
                    {% else %}
                    <span class="text-danger">Desactivado</span>
                    {% endif %} 
                </td>

                <td>

                    <div class="btn-group">
                        <button style="color: #858796;" type="button" class="btn btn-link dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            opciones
                        </button>
                        <div class="dropdown-menu">
                            {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                            <a class="dropdown-item" href="{% url 'actualizarUsuario' ven.usuario.id %}"
                                style="color: #858796;">Editar usuario</a>
                            {% endif %}
                            
                            
                            <a class="dropdown-item" href="{% url 'clientes_por_vendedor' ven.id %}"
                                style="color: #858796;">Clientes asignados</a>
                            <!-- <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a> -->
                          {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                            <div class="dropdown-divider"></div>
                            {% if ven.is_activo == 1 %}
                            <a class="dropdown-item" style="color: #858796;" href="#"
                                onclick="cambiar_estatus_vendedor('{{ven.usuario_id}}','{{ven.usuario.username}}',0)">Desactivar</a>
                            {% else %}
                            <a class="dropdown-item" style="color: #858796;" href="#"
                                onclick="cambiar_estatus_vendedor('{{ven.usuario_id}}','{{ven.usuario.username}}',1)">Activar</a>
                            {% endif %}
                            
                            {% endif %}

                        </div>
                    </div>
                </td>

            </tr>



            {% endfor %}
        </tbody>
    </table>
</div>







{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/vendedores/vendedores.js' %}"></script>
{% endblock %}