{% extends 'base.html' %}

{% load static %}
{% load  custom_tags %}
{% block title %} Mis vendedores {% endblock %}
{% block secciontitle %} Mis clientes {% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/vendedores.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{#% include 'contentBody/contentRow.html' %#}
{% endblock %}

{% block customSection %}
{%  if iguales %}

{% if vendedor %}
    {% if cliente %}
    <div class="row  " id="div-clientes-por-vendedor" >


        <div class="d-flex  flex-wrap   w-100 " >
          <!-- {{query}} -->
        {% for pub in datos_clientes %}
       
            <div class=" col-lg-4 col-md-5 publicacion">
                <div class="d-flex flex-column">
                    <figure class="figura">
                      <img src="https://public.pikit.mx/files/logo_empresas/{{pub.cliente.id}}.{{pub.cliente.filetype}}" alt="">
                    </figure>
                    <div class="w-100 short_info" style="display: flex;justify-content: center;align-items: center;">
                        <div class="col-md-9 col-sm-11 mx-auto flex-column" style="white-space: nowrap;  display: flex;justify-content: center;align-items: center;">
                          
                          <p class="w-90 text-center mt-2"><a href="{% url 'cliente' pub.cliente.id %}" class="">{{ pub.cliente.nombre|reparar_utf8 }}</a></p>
                          <p class="w-90 text-center">Cliente: <strong>{{pub.cliente.id}}</strong>&nbsp;&nbsp;
                          {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                            <i class="fas fa-trash-alt" style="cursor: pointer;color:red" onclick="delete_cliente_vendedor('{{pub.cliente.id}}','{{vendedor.usuario.first_name}} {{vendedor.usuario.last_name}}')"></i>
                          {% endif %}
                          </p>
    
                        </div>
                      <!-- </div> -->
                    </div>
                </div>
    
         
            </div>
            <hr/>
      
        
        {% endfor %}
    </div>
    
    </div>
    {% else %}
    <p class="text-center">{{message}}</p>
    {% endif %}
{% else %}

{% endif %}

{% else %}
<p class="text-center">{{message}}</p>
{% endif %}
{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/vendedores/vendedores.js' %}"></script>
<script src="{% static 'js/custom/clientes/clientes.js' %}"></script>
{% endblock %}