{% extends 'base.html' %}

{% load static %}
{% load  custom_tags %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Listado de usuarios{% endblock %}

{% block css %}
<link href="{% static 'css/custom/usuarios.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{% include 'contentBody/contentRow.html' %}
{% endblock %}

{% block customSection %}
<div class="row  mb-3">
    <div class="  col-lg-12">
        <input type="text" class="form-control" id="btn_buscar_usuarios"
            placeholder="Buscar por usuario, nombre, correo, etc">
    </div>
    <!-- <input type="text" name="" id=""  > -->
</div>

<!-- {{query}} -->
<div class="table-responsive-md  table-responsive-sm">


    <table class="table table-sm mx-auto" id="tabla_usuarios">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Tipo usuario</th>
                <th scope="col">Estatus</th>
                {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                <th scope="col">Opciones</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for usu in usuarios %}

            <tr>
                <th scope="row">{{usu.id}}</th>
                <td>{{usu.username}}</td>
                <td>{{usu.first_name}} {{usu.lastname}}</td>
                <td>{{usu.email}}</td>
                <td>
                    {% if usu.is_administrador == 1 %}
                    Administrador
                    {% elif usu.is_supervisor == 1 %}
                    Supervisor
                    {% elif usu.is_gerente_ventas  == 1 %}
                    Gerente ventas
                    {% elif usu.is_vendedor == 1 %}
                    Vendedor
                    {% else %}
                    No asignado
                    {% endif %}

                </td>

                <td>
                    {% if usu.is_active == 1 %}
                    Activo
                    {% else %}
                    <span class="text-danger"> Desactivado</span>
                    {% endif %}
                </td>
                {% if  request.session.is_administrador or request.session.is_gerente_ventas %}
                <td>

                    <div class="btn-group">
                        <button style="color: #858796;" type="button" class="btn btn-link dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            opciones
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'actualizarUsuario' usu.id %}"
                                style="color: #858796;">Editar</a>
                            <!-- <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a> -->
                            <div class="dropdown-divider"></div>
                            {% if usu.is_active == 1 %}
                            <a class="dropdown-item" style="color: #858796;" href="#"
                                onclick="cambiar_estatus_usuario('{{usu.id}}','{{usu.username}}',0)">Desactivar</a>
                            {% else %}
                            <a class="dropdown-item" style="color: #858796;" href="#"
                                onclick="cambiar_estatus_usuario('{{usu.id}}','{{usu.username}}',1)">Activar</a>
                            {% endif %}

                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>



            {% endfor %}
        </tbody>
    </table>
</div>







{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/usuarios/usuarios.js' %}"></script>
{% endblock %}