{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




<style>
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #55CEC2 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}
</style>
<link href="{% static 'css/custom/usuarios.css' %} " rel="stylesheet">
<!-- <link href="{% static 'css/custom/clientes.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet"> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: black;">
    <form action="{% url 'customLogin' %}"  method="post"
        class="border col-lg-5 col-md-10 col-sm-10 mx-auto centrar_login login"
        style="border: 1px black solid !important;">
        {% csrf_token %}

        <div class="centrar_login">
            <figure class=" mx-auto mt-3" style="width: 150px;">
                <img src="{% static 'img/custom/logo.png' %}" class='w-100' alt="">
            </figure>
            <p class="text-center text-danger" id="error">{{error}}</p>
            <div class="form-group centrar_horizontal">
                <input type="text" class=" login-input" id="id_username" name="username" required aria-describedby=""
                    placeholder="Usuario o correo">
            </div>


            <div class="form-group centrar_horizontal">

                <input type="password" class=" login-input" id="id_password" name="password" required
                    aria-describedby="" placeholder="Contraseña">
            </div>
            <div style="height: 20px;" ></div>
            <div class="d-flex justify-content-center align-items-center">
                <input type="submit" value="Ingresar" class="mb-5 btn btn-negro">
            </div>
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
        </div>
        <!-- </div> -->

    </form>
</body>

</html>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
        setTimeout(function(){ $("#error").hide('slow'); }, 3000);
        })
    </script>