{% extends 'base.html' %}

{% load static %}


{% load custom_tags %}

{% block title %} Registro usuarios {% endblock %}
{% block secciontitle %}Registro de usuarios{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/clientes.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/usuarios.css' %} " rel="stylesheet">
{% endblock %}




{% block customSection %}

<form action="/usuarios/registro-usuarios" class="border col-lg-7 mx-auto mb-5 form-sign" method="POST" id="signup_form">
    {% csrf_token %}

    <!-- {{form}} -->
    <figure class="   mx-auto mt-3" style="width: 120px;">
        <img src="{%static 'img/custom/account.png' %}" alt="" style="width: 100%;">
    </figure>
    <h3 class="text-center">{{mensaje}}</h3>
    
    <div class="col-lg-10 mx-auto">

        <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" class="form-control sin-bordes" name="username" maxlength="150" autofocus="" required=""
                id="id_username">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control sin-bordes" name="first_name" maxlength="150" autofocus=""
                required="" id="id_first_name">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Apellidos</label>
            <input type="text" class="form-control sin-bordes" name="last_name" maxlength="150" autofocus="" required=""
                id="id_last_name">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" class="form-control sin-bordes" name="email" maxlength="150" autofocus="" required=""
                id="id_email">
            <!-- <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Contraseña</label>
            <input type="password" class="form-control sin-bordes" name="password1" required="" id="id_password1">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Confirmar contraseña</label>
            <input type="password" class="form-control sin-bordes" name="password2" required="" id="id_password2">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo de usuario</label>
            <select class="form-control sin-bordes" name="tipo_usuario" id="id_tipo_usuario" required="">
                <!-- {{tipos_usuarios.query}} -->
                {% for tipo in tipos_usuarios %}
                
                <option value="{{tipo.id}}">{{tipo.name}}</option>
                {% endfor %}

            </select>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <input type="submit" class="btn btn-primary mt-3 mb-3 mx-auto"  id="btn_guardar_usuario" value="Guardar">
    </div>
    <!-- <div class="d-flex justify-content-center align-items-center">
        <input type="submit" class="btn btn-primary mt-3 mb-3 mx-auto" value="Guardar">
    </div> -->
</form>
{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/usuarios/usuarios.js' %}"></script>
{% endblock %}