{% extends 'base.html' %}

{% load static %}


{% load custom_tags %}


{% block title %} Registro usuarios {% endblock %}
{% block secciontitle %}Modificación de usuario{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/clientes.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/usuarios.css' %} " rel="stylesheet">
{% endblock %}




{% block customSection %}
{% if existe %}

<form action="/usuarios/metodoActualizar" class="border col-lg-12 col-md-12 col-sm-12 mx-auto mb-5 form-sign"
    method="POST" id="update_form_user">
    {% csrf_token %}

    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="row col-lg-12">
            <div class="form-group col-lg-6 ">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" name="usuario" value="{{usuario.username}}" class="form-control sin-bordes" id="id_usuario"
                    readonly aria-describedby=""  readonly>
                

            </div>
            <div class="form-group col-lg-6">
                <label for="exampleFormControlSelect1">Tipo de usuario</label>
                <select class="form-control sin-bordes" name="tipo_usuario" id="id_tipo_usuario" required=""  onchange="grupos_usuarios()">
                    <!-- {{tipos_usuarios.query}} -->
                    {% for tipo in tipos_usuarios %}
                    {% if tipo.id  ==  grupo %}
                    <option selected value="{{tipo.id}}">{{tipo.name}}</option>
                    {% else %}
                    <option value="{{tipo.id}}">{{tipo.name}}</option>

                    {% endif %}
                    {% endfor %}

                </select>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="row col-lg-12">
            <div class="form-group col-lg-6 ">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" name="first_name" value="{{usuario.first_name}}" class="form-control sin-bordes"  
                    aria-describedby="emailHelp" placeholder="Nombre" id="id_first_name">

            </div>
            <div class="form-group col-lg-6 ">
                <label for="exampleInputEmail1">Apellidos</label>
                <input type="text" value="{{usuario.last_name}}" class="form-control sin-bordes" id="id_last_name" 
                    aria-describedby="emailHelp" placeholder="Apellidos" name="last_name">

            </div>



        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="row col-lg-12">
            <div class="form-group col-lg-6 ">
                <label for="exampleInputEmail1">Correo</label>
                <input type="text" value="{{usuario.email}}" class="form-control sin-bordes" id="id_email" 
                    aria-describedby="emailHelp" placeholder="Correo" name="email">

            </div>
            <div class="form-group col-lg-6">
                <label for="exampleFormControlSelect1">Estatus</label>
                <select class="form-control sin-bordes" name="estatus" id="id_estatus" required="">
                    <!-- {{tipos_usuarios.query}} -->
        

                    {% for k, v in estatus.items %}
                    {% if  v == usuario.is_active %}
                    <option selected value="{{v}}">{{k}}</option>
                    {% else %}
                    <option  value="{{v}}">{{k}}</option>
                    {% endif %}
                    {% endfor %}


                </select>
            </div>



        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="row col-lg-12">
            <!-- <div class="form-group col-lg-6 ">
                <label for="exampleInputEmail1">Correo</label>
                <input type="text" value="{{usuario.email}}" class="form-control sin-bordes" id="id_email" 
                    aria-describedby="emailHelp" placeholder="Correo" name="email">

            </div> -->
            <div class="form-group col-lg-6 d-none">
                <label for="exampleFormControlSelect1">Tipo vendedor</label>
                <select class="form-control sin-bordes" name="vendedor" id="id_estatus" required="">

                    {% if vendedor %}
                        {%if tipo_vendedor  ==  1 %}
                        <option selected value="1">Gerente</option>
                        <option  value="0">Vendedor </option>
                        <option  value="2">No es vendedor </option>

                        {% else %}
                        <option selected value="0">Vendedor</option>
                        <option  value="2">No es vendedor </option>
                        <option  value="1">Gerente </option>

                        {% endif %}
                    {% else %}
                    <option selected value="2">No es vendedor </option>
                    <option  value="0">Vendedor </option>
                    <option  value="1">Gerente </option>

                    {% endif %}


                </select>
            </div>



        </div>
    </div>
    <input type="hidden" name="id_identificador" value="{{usuario.id}}">
    
    <div class="d-flex justify-content-center align-items-center mb-3 mt-3">
        {% if  request.session.is_administrador or request.session.is_supervisor %}
        <button type="submit" class="btn btn-primary" id="btn-modificar-usuario">Modificar</button>
        {% else %}
        <p class="text-center text-danger">No tienes permisos para modificar usuarios</p>
    {% endif %}

    </div>




</form>



{% else %}
<div class=" " style="position: relative;">
    <div id="not_found" class="content-not-found centrado">

    </div>

</div>

{% endif %}
{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/usuarios/usuarios.js' %}"></script>
{% endblock %}