

{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %}Publicaciones Aprobadas{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{#% include 'contentBody/contentRow.html' %#}
{% endblock %}

{% block customSection %}

<div class="row">
    <div class="d-flex justify-content-between flex-wrap align-items-stretch"">
    {% for pub in aprobadas %}

    <div class=" col-lg-4 col-md-5 publicacion">
      <div class="d-flex flex-column">
          <figure class="figura">
            <img src="https://public.pikit.mx/files/publicaciones/{{pub.id}}.{{pub.filetype}}" alt="">
          </figure>
          <div class="w-100 short_info">
            <div class="d-flex flex-nowrap justify-content-center align-items-center " style="cursor: pointer;" title="{{pub.id_cliente.nombre}}">
              <figure class="fig_circulo"  style="background-image: url(https://public.pikit.mx/files/logo_empresas/{{pub.id_cliente.id}}.{{pub.id_cliente.filetype}});">
                 
              </figure>
              <div class="col-md-9 col-sm-11" style="white-space: nowrap;  ">
                <p class="w-90 text-center"><a href="publicacion/{{pub.id}}" class="">{{pub.titulo|reparar_utf8}}</a></p>
                <!-- <a class="w-90 text-center"> {{pub.id_cliente.nombre}}</a> -->
                <p class="w-90 text-center">{{pub.date_insert}}</p>
              </div>
            </div>
          </div>
      </div>


  </div>
  
    
    {% endfor %}
</div>
</div>


<div style="display: flex;justify-content: center;align-items: center;">
    {% if publicaciones.has_other_pages %}
    <ul class="pagination">
      {% if publicaciones.has_previous %}
      <li><a href="?page={{ publicaciones.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in publicaciones.paginator.page_range %}
        {% if publicaciones.number == i %}
          <li  class="active page-item">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span>
          </span></li>
        {% else %}
          <li class="page-item"><a href="?page={{ i }}" class="page-link" >{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if publicaciones.has_next %}
        <li class="page-item"><a href="?page={{ publicaciones.next_page_number }}" class="page-link" >&raquo;</a></li>
      {% else %}
        <li class="disabled page-item" ><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>




{% endblock %}