

{% extends 'base.html' %}

{% load static %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Publicaciones pendientes de revisar{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{% include 'contentBody/contentRow.html' %}
{% endblock %}

{% block customSection %}
<div class="row  mb-3">
  <div class="  col-lg-12 d-flex ">
    <div class="row col-lg-12 border mx-auto">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <label for="formGroupExampleInput">Buscador</label>
      <input type="text" class="form-control" id="buscador" placeholder="Ej: Desayuno 2x1" >
    </div> 
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo busqueda</label>
        <select class="form-control" id="tipo_busqueda_cliente">
          <option value="NA">NA</option>
          <option value="cliente">Cliente</option>
          <option value="titulo">Titulo publicación</option>
          <option value="descripcion">Descripción</option>
        </select>
      </div>
    </div>
    </div>
  </div>
  <!-- <input type="text" name="" id=""  > -->
</div>
<div class="row" id="ajax_response_publicaciones" style="display: none;">

</div>
<div class="row " id="div_main_publicaciones" >
    <div class="d-flex  flex-wrap   w-100  justify-content-center align-items-center" id="div_publicaciones">

    {% for pub in publicaciones %}
   
        <div class=" col-lg-4 col-md-8 publicacion">
            <div class="d-flex flex-column">
                <figure class="figura">
                  <img src="https://public.pikit.mx/files/publicaciones/{{pub.id}}.{{pub.filetype}}" alt="">
                </figure>
                <div class="w-100 short_info">
                  <div class="d-flex  justify-content-center align-items-center " style="cursor: pointer;" title="{{pub.id_cliente.nombre}}">
                    <figure class="fig_circulo"  style="background-image: url(https://public.pikit.mx/files/logo_empresas/{{pub.id_cliente.id}}.{{pub.id_cliente.filetype}});">
                       
                    </figure>
                    <div class="col-md-9 col-sm-11" style="white-space: nowrap;">
                      <p class="w-90 text-center titulo_pub"><a href="{% url 'publicacion' pub.id %}" class="" > {{ pub.titulo|truncatechars:17 }}</a></p>
                      <p class="w-90 text-center fecha_pub" style="">{{pub.date_insert}}</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>

  
    
    {% endfor %}
</div>
</div>


<div style="display: flex;justify-content: center;align-items: center;" id="paginador">
    {% if publicaciones.has_other_pages %}
    <ul class="pagination">
      {% if publicaciones.has_previous %}
      <li><a href="?page={{ publicaciones.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in publicaciones.paginator.page_range %}
        {% if publicaciones.number == i %}
          <li  class="active page-item">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span>
          </span></li>
        {% else %}
          <li class="page-item"><a href="?page={{ i }}" class="page-link" >{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if publicaciones.has_next %}
        <li class="page-item"><a href="?page={{ publicaciones.next_page_number }}" class="page-link" >&raquo;</a></li>
      {% else %}
        <li class="disabled page-item" ><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>




{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
{% endblock %}