{% extends 'base.html' %}

{% load static %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Detallado de publicacion{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/clientes.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{#% include 'contentBody/contentRow.html' %#}
{% endblock %}




{% block customSection %}

{% if existe %}
<div class="row ">
    <!-- {{publicacion.query}} -->

    <div class="  col-md-12   d-flex flex-column   mx-auto ">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12   mx-auto letras " style="height: auto;">

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">TITULO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control sin-bordes" disabled id="" value="{{publicacion.titulo}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">ESTATUS</label>
                    <div class="col-sm-10">
                        {% if  publicacion.estado_revisada  == 0 %}

                        <input type="text" class="form-control sin-bordes" id="" placeholder="" disabled
                            value="Sin revisar">
                        {% else %}
                        <input type="text" class="form-control sin-bordes" id="" placeholder="" disabled
                            value="{{publicacion.estado_revisada}}">
                        {% endif %}
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">DESCRIPCIÓN</label>
                    <textarea class="form-control sin-bordes" disabled id="" rows="6">{{publicacion.descripcion}}</textarea>
                </div>


                    <h5 class="h5 mb-0 text-gray-800 text-center">Días de promocion</h5>
 
                <div class="row " style="display: flex;justify-content: center;align-items: center;margin-bottom: 15px;">

                    {% for key,dia  in dias.items %}
                <div class="d-flex flex-column justify-content-center align-items-center flex-wrap col-lg-1 col-md-12 col-sm-12 ml-3">
                    
                        <div class=" col-lg-1 col-md-12 col-sm-12  ">
                            
                            <div class="form-check form-check-inline">
                                {% if dia == 1 %}
                                <input class="form-check-input" type="checkbox"  checked id="{{key}}" value="option3" disabled>
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="{{key}}" value="option3" disabled>
                                {% endif %}
                                <label class="form-check-label" for="inlineCheckbox3">{{key}}</label>
                            </div>
                       
                    </div>
                </div>
                {% endfor %}
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto publicacion">
                <figure class="figura"><img
                        src="https://public.pikit.mx/files/publicaciones/{{publicacion.id}}.{{publicacion.filetype}}"
                        alt="">

                </figure>
                <div class="w-100 short_info_publicacion">
                    <div class="d-flex flex-nowrap justify-content-center align-items-center ">
                        <figure class="fig_circulo border" style="background-image: url(https://public.pikit.mx/files/logo_empresas/{{cliente.id}}.{{cliente.filetype}});">
                           
                        </figure>
                        <div class="col-md-8 col-sm-11">
                            <p class="w-90 text-center">{{cliente.nombre}}</p>
                            <p class="w-90 text-center">{{publicacion.date_insert}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      
        {% if proceso  == False %}
        <div class="row  mt-3 mb-3">
            <div class="d-flex flex-nowrap columna  justify-content-between col-lg-7 mx-auto  ">
                <button type="button" class="btn btn-success col-lg-3 btn_movil"
                    onclick="aceptar_publicacion('{{publicacion.id}}')"><i class="fas fa-check" aria-hidden="true"></i>
                    Aprobar</button>
                <button type="button" class="btn btn-info col-lg-3  btn_movil"
                    onclick="revision_pub('{{publicacion.id}}')"><i class="fas fa-exclamation-circle"></i>
                    Revision</button>
                <button type="button" class="btn btn-danger col-lg-3  btn_movil"
                    onclick="cancelar_pub('{{publicacion.id}}')"><i class="fas fa-times"></i> Rechazar</button>
            </div>
        </div>
        {% endif %}


        <!-- <i class="fas fa-exclamation-circle"></i> -->
    </div>
</div>

{% else %}
    <div class=" " style="position: relative;">
        <div id="not_found" class="content-not-found centrado">

        </div>
        <!-- <p>{{error}}</p> -->
    </div>

{% endif %}

{% endblock%}


{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
<!-- <script src="{% static 'js/custom/publicacion/generic.js' %}"></script> -->
{% endblock %}