{% extends 'base.html' %}

{% load static %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Publicaciones en revisión{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}

{% block customSection %}
<div class="form-group">
    <h5 for="exampleFormControlInput1">Busqueda</h5>
    <input type="text" class="form-control" id="btn-publicaciones-revision" placeholder="Ej: Cafes 2x1">
  </div>
<div class="row">

    <div class="d-flex justify-content-between flex-wrap align-items-stretch"id="div-publicaciones-revision">
    {% for pub in publicaciones %}
        
        <div class=" col-lg-4 col-md-5 publicacion">
        <div class="d-flex flex-column">
            <figure class="figura"><img
                    src="https://public.pikit.mx/files/publicaciones/{{pub.id_publicacion}}.{{pub.filetype}}" alt="">
            </figure>
            <div class="w-100 ">
                <p class="w-90 text-center"><a href="{% url 'publicacion' pub.id_publicacion %}" class="">{{pub.titulo}}</a></p>
                <p class="w-90 text-center">Información&nbsp;&nbsp; <a data-toggle="modal"
                        data-target=".bd-example-modal-lg{{pub.id_publicacion}}" title="Mas información"><i
                            class="fas fa-ellipsis-h" style="cursor: pointer;"></i></a></p>
                <p class="w-90 text-center "><strong>Fecha limite: </strong><span class="text-danger">{{pub.fecha_limite}}</span></p>
                
                <div class="w-100">

                </div>
            </div>
        </div>


    </div>
    <hr />
    <!-- <button type="button" class="btn btn-primary" >Large modal</button> -->

    <div class="modal fade bd-example-modal-lg{{pub.id_publicacion}}" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-2 col-lg-11 col-md-11 col-sm-11 border  mx-auto">
                        <h1 class="h3 mb-0 text-gray-800">
                            {{pub.titulo}}
                        </h1>
                        <br>
                        <p><strong>Cliente: </strong>{{pub.cliente}}</p>
                        <p><strong>Descripción: </strong>{{pub.descripcion}}</p>
                        <p><strong>Explicación de revisión: </strong>{{pub.explicacion}}</p>
                        <p><strong>Fecha de creacion: </strong>{{pub.date_insert}}</p>
                        <p><strong>Estatus: </strong>{{pub.estatus}}</p>
                        <p><strong>Envio a revisión: </strong>{{pub.usuario}}</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
</div>
{% endblock %}



{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
{% endblock %}