{% extends 'base.html' %}

{% load static %}


{#% load extras %#}

{% block title %} Listado de clientes {% endblock %}


{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
<link href="{% static 'css/custom/clientes.css' %} " rel="stylesheet">
{% endblock %}




{% block customSection %}


{% if existe %}

<div class="d-sm-flex align-items-center justify-content-between mb-4 ">
    <h1 class="h3 mb-0 text-gray-800">{{cliente.nombre}}</h1>

</div>
<div class="d-flex">
    <div class="row col-lg-12 ">
        <div class="col-lg-4 ">
            <figure class="fig_cliente"
                style="background-image: url(https://public.pikit.mx/files/logo_empresas/{{cliente.id}}.{{cliente.filetype}});">
            </figure>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 ">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tipo de negocio</label>
                    <input type="text" value="{{categoria.name}}" class="form-control sin-bordes" id="negocio" readonly
                        aria-describedby="emailHelp" placeholder="Enter email">
    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Perfil</label>
                    {% if cliente.perfil == 1 %}
                    <input type="text" value="Persona Física " class="form-control sin-bordes" id="perfil" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
                    {% else %}
                    <input type="text" value="Persona Moral" class="form-control sin-bordes" id="perfil" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
                    {% endif %}
    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tipo de suscripcion</label>
                    <input type="text" value="{{tipo_inscripcion.nombre}}" class="form-control sin-bordes" id="suscripcion" readonly
                        aria-describedby="emailHelp" placeholder="Enter email">
    
                </div>
            </div>
           
        </div>
    </div>
</div>
<br><br>
<div class="d-flex">
    <div class="row col-lg-12">
        
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Telefono</label>
                <input type="text" value="{{cliente.telefono}}" class="form-control sin-bordes" id="" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input type="text" value="{{cliente.email}}" class="form-control sin-bordes" id="" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">


            <div class="form-group">
                <label for="exampleInputEmail1">Estado</label>
                <input type="text" value="{{estado.name}}" class="form-control sin-bordes" id="" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ciudad</label>
                <input type="text" value="{{municipio.name}}" class="form-control sin-bordes" id="" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
    </div>
</div>
<div class="d-flex ">
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid nisi possimus voluptate consequatur inventore vitae doloremque, reiciendis neque odio mollitia, maiores in. Omnis, explicabo ipsa. Laboriosam quibusdam dolorum maiores!</p>
     -->
     <div class="row col-lg-12">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Publicaciones realizadas</label>
                <input type="text" value="{{total}}" class="form-control sin-bordes" id="" readonly
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
            <!-- <button class="btn btn-link" href=>Ver publicaciones</button> -->
            {% if total > 0 %}
            <a href="{% url 'publicaciones_por_cliente' cliente.id %}">Ver publicaciones</a>
            
            {% endif %}
            </div>
         </div>
     </div>
    
</div>




{% else %}

<h1 class=" mb-0 text-gray-800 text-center" style="color: red !important;">No existe el cliente</h1>

{% endif %}
{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
{% endblock %}