

{% extends 'base.html' %}

{% load static %}


{% load custom_tags %}

{% block title %} Listado de clientes {% endblock %}
{% block secciontitle %}Listado de clientes activos{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}




{% block customSection %}


<div class="d-flex justify-content-between mb-3">
  <div class="row  col-lg-12">
    <div class=" mt-3 m-2 form-group col-lg-5 col-md-12 col-sm-12" style="padding-right:0 !important; padding-left:0 !important;" >
      <input type="text" class="form-control col-lg-12  col-md-12 col-sm-12"  id="buscador-clientes" placeholder="Ej: STARBUCKS MERIDA">
    </div>
    <select class="mt-3 m-2 custom-select col-lg-3 col-md-12 col-sm-12" id="id_estados" onchange="get_municipios('get-municipios')">
      <option  selected value="SINESTADO">NA ESTADO</option>

      {% for estado in estados%}

      <option value={{estado.clave}}>{{estado.name|title}}</option>
      {% endfor %}
    </select>
    <select class="mt-3 m-2 custom-select col-lg-3 col-md-12 col-sm-12" id="id_municipios">
    </select>
  </div>
  
  </div>
  <div class="row" >
    <div id="respuesta_ajax" class="border w-100" style="display: none;">
      
    </div>
    <div id="div_clientes">
      <div class="d-flex  flex-wrap   w-100 " >
        <!-- {{query}} -->
      {% for pub in clientes %}
     
          <div class=" col-lg-4 col-md-5 publicacion">
              <div class="d-flex flex-column">
                  <figure class="figura">
                    <img src="https://public.pikit.mx/files/logo_empresas/{{pub.id}}.{{pub.filetype}}" alt="">
                  </figure>
                  <div class="w-100 short_info" style="display: flex;justify-content: center;align-items: center;">
                      <div class="col-md-9 col-sm-11 mx-auto flex-column" style="white-space: nowrap;  display: flex;justify-content: center;align-items: center;">
                        
                        <p class="w-90 text-center mt-2"><a href="cliente/{{pub.id}}" class="">{{ pub.nombre|reparar_utf8 }}</a></p>
                        <p class="w-90 text-center">Cliente: <strong>{{pub.id}}</strong></p>

                      </div>
                    <!-- </div> -->
                  </div>
              </div>
  
       
          </div>
          <hr/>
    
      
      {% endfor %}
  </div>
  </div>
  </div>
  


  <div style="display: flex;justify-content: center;align-items: center;" id="paginador">
    {% if clientes.has_other_pages %}
    <ul class="pagination">
      {% if clientes.has_previous %}
      <li><a href="?page={{ clientes.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in clientes.paginator.page_range %}
        {% if clientes.number == i %}
          <li  class="active page-item">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span>
          </span></li>
        {% else %}
          <li class="page-item"><a href="?page={{ i }}" class="page-link" >{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if clientes.has_next %}
        <li class="page-item"><a href="?page={{ clientes.next_page_number }}" class="page-link" >&raquo;</a></li>
      {% else %}
        <li class="disabled page-item" ><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>

{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
<script src="{% static 'js/custom/clientes/clientes.js' %}"></script>

{% endblock %}