{% extends 'base.html' %}

{% load static %}
{% block title %} Publicaciones {% endblock %}
{% block secciontitle %} Publicaciones por cliente{% endblock %}

{% block css %}
<link href="{% static 'css/custom/publicaciones.css' %} " rel="stylesheet">
{% endblock %}


{% block contentRow %}
{#% include 'contentBody/contentRow.html' %#}
{% endblock %}

{% block customSection %}
<div class="row  mb-3">
  <div class="  col-lg-11">
    <label for="formGroupExampleInput">Buscador</label>
    <input type="text" class="form-control" id="buscador" placeholder="Ej: Desayuno 2x1">
  </div>
  <!-- <input type="text" name="" id=""  > -->
</div>
<div class="row ">
  <div class="d-flex  flex-wrap   w-100" id="div_publicaciones">

    {% for pub in publicaciones %}

    <div class=" col-lg-4 col-md-5 publicacion">
      <div class="d-flex flex-column">
        <figure class="figura">
          <img src="https://public.pikit.mx/files/publicaciones/{{pub.id}}.{{pub.filetype}}" alt="">
        </figure>
        <div class="w-100 short_info">
          <div class="d-flex flex-nowrap justify-content-center align-items-center " style="cursor: pointer;"
            title="{{pub.id_cliente.nombre}}">
            <figure class="fig_circulo"
              style="background-image: url(https://public.pikit.mx/files/logo_empresas/{{pub.id_cliente.id}}.{{pub.id_cliente.filetype}});">

            </figure>
            <div class="col-md-9 col-sm-11" style="white-space: nowrap;  ">
              <p class="w-90 text-center"><a href="{% url 'publicacion' pub.id %}" class="">{{pub.titulo|title}}</a></p>

              <!-- <a class="w-90 text-center"> {{pub.id_cliente.nombre}}</a> -->
              
              {% if pub.revisada == "Cancelada" %}
              <p class="text-center text-danger">Cancelada</p>
        
              {% elif pub.revisada == "Revision" %}
              <p class="text-center text-info">En revisión</p>
            

              {% elif pub.revisada == "Aceptada" %}
              <p class="text-center text-success">Aceptada</p>

              {% elif pub.revisada == 0 %}
              <p class="text-center text-success">Sin revisar</p>
              {% endif %}
              
              <!-- <p class="w-90 text-center">{{pub.id}}</p> -->
            </div>
          </div>
        </div>
      </div>


    </div>
    <hr />


    {% endfor %}
  </div>
</div>







{% endblock %}


{% block javascript %}
<script src="{% static 'js/custom/publicacion/publicaciones.js' %}"></script>
{% endblock %}