<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span> &copy; PIKIT {% now "Y" %}</span>
        </div>
    </div>
</footer>