.fig_cliente{
    /* border: 1px blue solid; */
    width: 200px;
    margin: auto;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.sin-bordes{
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    background-color: #F8F9FC !important;
    border-radius: 0px !important;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

*:focus {
    outline: none;
}