.publicacion {
    /* border: 1px red solid; */
    margin-bottom: 15px;
    position: relative;
    /* margin: auto; */

  }
  
  .short_info {
    position: absolute;
    background-color: #ffffff;
    /* border: 1px white solid; */
    top: 75%;
    width: 96% !important;
    /* border-radius: 5px; */
    height: 67px;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.32);
  }
  
  .short_info_publicacion {
    position: absolute;
    background-color: #ffffff;
    top: 74%;
    width: 96% !important;
  
    height: 63px;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.32);
  }
  .figura {
    height: 250px; /* width: 365px; */
  }
  
  .fig_circulo {
    width: 62px;
    height: 59px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 5px;
  }
  
  .test {
    border: 1px red solid;
  }
  
  .figura_publicacion {
    width: 360px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
  }
  /* form{
      border:0px !important;
  } */
  .figura_publicacion img {
    width: 100%;
    height: 100%;
  }
  .figura img {
    width: 100%;
    height: 100%;
  }
  
  .letras {
    vertical-align: inherit;
  }
  
  .respuestas {
    display: flex;
    justify-content: space-between;
    width: 89%;
  }
  .respuestas_success {
    display: flex;
    justify-content: space-between;
    /* width: 66%; */
    flex-direction: column-reverse;
    /* border: 1px red solid; */
    justify-content: center;
    align-items: center;
  }
  .parrafo_respuesta {
    margin-top: 15px;
    font-size: 19px;
    /* width: 100%; */
    /* border: 1px red solid; */
  }
  
  .centrado {
    width: 100%;
    padding: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content-not-found {
    
    width: 50%;
  }

  .titulos_pub{
    font-size: 12px;
  }
  .fecha_pub{
    font-size: 14px;
  }
  @media (max-width: 990px) {
    .columna {
      flex-direction: column;
    }
    .titulos_pub {
      font-size: 15px;
    }
    .fecha_pub{
      font-size: 13px;
    }
    .btn_movil {
      margin: auto;
      margin-top: 10px;
      width: 150px;
    }
  
    .respuestas {
      display: flex;
      justify-content: space-between;
      width: 96%;
    }
    .parrafo_respuesta {
    }
  
    .fig_circulo {
      width: 64px;
      height: 59px;
      border-radius: 50%;
      background-position: 50% 50%;
      background-size: cover;
      position: absolute;
      transform: translate(calc(100% - 190px), -10%);
    }
  
    .centrado {
  
  transform: translate(-50%, 0%);
  
  }
  
    .content-not-found {
     
      width: 100%;
    }


    .publicacion {
      /* border: 1px red solid; */
      /* margin-bottom: 15px;
      position: relative;
      border: 1px red solid;
      margin-bottom: 15px;
      position: relative; */
      /* margin: auto; */
      top: 0%;
      left: 50%;
      transform: translate(-50%, -0%);
  
    }
  }
  