.form-sign{
    border-radius: 2%;
}


.error{
    border:1px red solid;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.remove_error{
    border:1px #D1D3E2 solid;
}

.centrar_login{
    /* border: 1px red solid; */
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);

}
.login {
    background-color: #55CEC2;
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.login-input{
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    background-color: #55CEC2 !important;
    border-radius: 0px !important;
    border-bottom: 1px #000 solid !important;
    padding: 0px;


}
.btn-negro {
    background-color: black;
    color: #55CEC2;
    padding: 3px;
    width: 58%;
}
.centrar_login_content{
    background-color: #55CEC2 !important;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);

}






.login-input::-webkit-input-placeholder {
    color: black;
    padding: 0px;
}
.login-input:-moz-placeholder {
    color: black;
    padding: 0px;

}
.login-input::-moz-placeholder {
    color: black;
    padding: 0px;

}
:-ms-input-placeholder {
    color: black;
    padding: 0px;

}

.centrar_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}








@media (max-width: 990px) {


    .login {
        /* background-color: #55CEC2; */
        height: 280px;
        width: 250px;
    }

}