{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title%} {% endblock %}</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}  " rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{% static 'css/sb-admin-2.min.css' %} " rel="stylesheet">

    {% block css %}
    {% endblock %}
</head>

<body id="page-top">

  
    <div id="wrapper">

  
        {% include 'nav/navbar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

        
            <div id="content">


                {% include 'nav/navtop.html' %}
  

  
                <div class="container-fluid">

                 


                    {% block contentRow %}
                    {#% include 'contentBody/contentRow.html' % #}
                    {% endblock %}



                     <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class=" mb-0 text-gray-800">{% block secciontitle %} {% endblock %}</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>
                    
          
                    {% block grafics %}
                   {#% include 'contentBody/grafics.html' %#}
                    {% endblock %}
 


                    {% block customSection %}
                    {% endblock %}



                  
                    {% block mainContent %}
                    {#% include 'contentBody/mainContent.html'% #}
                    {% endblock %}
                    
                    

                </div>
               

            </div>
          

            
            {% include 'nav/footer.html' %}
          

        </div>
 

    </div>



    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Estas seguro de cerrar sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </div>

   
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>


    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>


    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{%static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js
    "></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/lottie/lottie.js' %}"></script>
    <script src="{% static 'js/custom/generic/generic.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



    {% block javascript %}

    {% endblock %}

</body>





</html>